@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neo-white text-neo-black;
  }
}

/* Custom Neo-Brutalism Utils if needed */
.neo-card {
  @apply border-3 border-neo-black shadow-neo bg-white;
}

.neo-btn {
  @apply border-3 border-neo-black shadow-neo bg-neo-green active:shadow-none active:translate-x-[4px] active:translate-y-[4px] transition-all font-bold px-4 py-2 uppercase;
}